[Unit]
Description=Daemontools Service Manager
After=sysinit.target

[Service]
ExecStart=/usr/bin/svscanboot
Restart=always

[Install]
WantedBy=multi-user.target
